/************start 导航栏**************/
.navbar {
    height: 80px;
    width: 100%;
    background-color: #f24f24;
}

.navbd {
    height: 100%;
    width: 1350px;
    margin: 0 auto;
    /*position: relative;*/
}

.logo {
    display: inline-block;
    margin-top: 6px;
}

/*菜单栏*/
.menu {
    /*position: absolute;*/
    /*right: 0px;*/
    float: right;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    width: 100px;
    height: 80px;
}

.menu li a:hover {
    border-bottom: 2px solid yellow;
    border-width: 2px;
}

/************end 导航栏**************/
/************start 滚动广告**************/
.adcontainer {
    height: 500px;
    width: 100%;
    margin-top: 2px;
    background-color: gray;
}

/************end 滚动广告**************/
/************start 产品&服务**************/
.pd-container {
    width: 1350px;
    height: 378px;
    margin: 0 auto;
}

.pd-container h1 {
    height: 189px;
    width: 100%;
    text-align: center;
    line-height: 189px;
    font-size: 30px;
}

.pd-container ul {
    height: 189px;
    width: 100%;

}

.pd-container > ul > li {
    width: 155px;
    height: 155px;
    float: left;
    margin-left: 100px;
    transition: all 0.5s;
    background-image: url("../img/product_service.png");
}

.pd-container ul > li:hover {
    transform: rotateY(720deg);
}

.pd-container ul > li > a {
    display: block;
    width: 155px;
    height: 155px;
}

.pd-sv1 {
    background-position: 0 0;
}

.pd-sv2 {
    background-position: 0 880px;
}

.pd-sv3 {
    background-position: 0 638px;
}

.pd-sv4 {
    background-position: 0 398px;
}

.pd-sv5 {
    background-position: 0 155px;
}

.service {
    width: 1350px;
    height: 300px;
}

.service > ul > li {
    margin-left: 7.5px;
    float: left;
    width: 440px;
    height: 300px;

}

#sv1 {
    background-image: url("../img/p1.png");
}

#sv2 {
    background-image: url("../img/p2.png");
}

#sv3 {
    background-image: url("../img/p3.png");
}

.service > ul > li a {
    width: 440px;
    height: 300px;
    display: block;
    text-align: center;
    line-height: 300px;
    background-color: white;
    opacity: 0.6;
    font-size: 30px;
    color: red;
    visibility: hidden;
}

.service > ul > li a:hover {
    visibility: visible;
}

/************end 产品&服务**************/
/************start 关于我们和最新动态**************/
.us-news {
    clear: both;
    width: 100%;
    height: 326px;
    background-color: #f3f3f3;
}

.us-news-bd {
    width: 1350px;
    height: 100%;
    margin: 0 auto;
}

.us-news-bd > div {
    width: 675px;
    height: 100%;
    float: left;
}

.us-news-bd > div > div {
    margin-top: 48px;
    height: 48px;
    width: 608px;
    border-bottom: 1px solid gray;
}

.about-us > div > h2 {
    font-size: 32px;
    display: inline-block;

}

.about-us > div > a {
    float: right;
    display: inline-block;
    width: 70px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 12px;
    color: black;

}

.about-us > p {
    text-indent: 26px;
    margin-top: 48px;
    width: 608px;
    font-size: 16px;
    line-height: 2;
}

.news > div {
    float: right;
}

.news > div > h2 {
    font-size: 32px;
    display: inline-block;

}

.news > div > a {
    float: right;
    display: inline-block;
    width: 70px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 12px;
    color: black;

}

.news > ul {
    float: right;
    margin-top: 48px;
    width: 608px;
}

.news > ul li {
    line-height: 34px;
    width: 100%;
    height: 34px;
    border-bottom: 1px black dashed;
    position: relative;
}

.news > ul li > a {
    color: black;
}

.news > ul li > a:hover {
    color: #f24f24;
    border-bottom: 1px solid #f24f24;
}

.news > ul li > a > span {
    position: absolute;
    right: 0px;
    font-size: 16px;
}

/************end 关于我们和最新动态**************/
/************start 营销活动**************/
.sell-activity {
    height: 482px;
    width: 1350px;
    margin: 0 auto;
}

.sell-activity h2 {
    font-size: 40px;
    color: black;
    height: 134px;
    line-height: 134px;
    text-align: center;
}

.acitvity1 {
    display: inline-block;
    height: 348px;
    width: 395px;
}

.acitvity1 > a {
    display: inline-block;
    height: 348px;
    width: 395px;
    background-image: url("../img/hb.png");
}

.acitvity2 {
    display: inline-block;
    margin-left: 52px;
    height: 348px;
    width: 626px;
}

.acitvity2 > ul {
    margin-top: 10px;
    /*margin-left: -2px;*/
    width: 626px;
}

.acitvity2 > ul > li {
    width: 626px;
}

.acitvity2 > div {
    height: 48px;
    width: 626px;
    border-bottom: 1px solid gray;
}

.acitvity3 {
    float: right;
    display: block;
    height: 348px;
    width: 190px;
}

.acitvity3 > ul > li > a {
    /*clear: both;*/
    display: block;
    width: 190px;
    height: 60px;
    background-color: #ffb010;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 30px;
    margin-top: 2px;
}

.acitvity3 > ul > li {
    font-size: 16px;
    text-align: center;
}

/*滚动区域*/
.sell-ac-container {
    background-color: white;
    margin-top: 30px;
    width: 1350px;
    height: 122px;
    position: relative;
    clear: both;
}

.sell-ac-bd {
    height: 122px;
    width: 1122px;
    margin: 0 auto;
}

.sell-ac-item {
    float: left;
    display: block;
    width: 364px;
    height: 122px;
    background-color: white;
    overflow: hidden;
    margin-left: 5px;
}

.sell-ac-item img {
    width: 175px;
    height: 122px;

}

.sell-ac-item div {
    float: right;
    display: block;
    width: 182px;
    height: 122px;
    border-right: 1px solid black;
}

.sell-ac-item div p {
    height: 40px;
    width: 182px;
    line-height: 40px;
    text-indent: 10px;
}

.sell-ac-item div .sell-date {
    text-align: center;
}

/************end 营销活动**************/
/************start 藏品鉴赏**************/
.cangping-container {
    width: 100%;
    height: 406px;
    clear: both;
    margin-top: 160px;
}

.cangping-bd {
    width: 1350px;
    height: 406px;
    margin: 0 auto;
}

.cangping-bd h2 {
    height: 132px;
    text-align: center;
    line-height: 132px;
    font-size: 26px;
    color: black;
    border-bottom: 1px solid black;
}

.cangping-list {
    height: 200px;
    width: 1350px;
    border-bottom: 1px solid black;

}

.cangping-list > div > div > a {
    display: inline-block;
    width: 254px;
    height: 146px;
    margin-top: 27px;
    margin-left: 10px;
}

/************end 藏品鉴赏**************/
/************start 我们的优势**************/
.our-advantage {
    width: 1350px;
    height: 500px;
    margin: 0 auto;
}

.our-advantage h2 {
    height: 132px;
    text-align: center;
    line-height: 132px;
    font-size: 26px;
    color: black;
}

.our-advantage > div > ul > li {
    float: left;
}

.our-advantage > div > ul > li > a {
    display: block;
}

/************end 我们的优势**************/

/************start 友情链接/合作伙伴**************/
.friendship {
    width: 1350px;
    height: 310px;
    margin: 0 auto;
}

.friendship h2 {
    height: 132px;
    text-align: center;
    line-height: 132px;
    font-size: 26px;
    color: black;
    border-bottom: 1px solid black;
}

.friendship > div {
    height: 188px;
}

.friendship > div > ul {
    margin-top: 56px;
}

.friendship > div > ul > li {
    float: left;
}

.friendship > div > ul > li > a {
    display: block;
    width: 213px;
    height: 70px;
    margin-left: 10px;
    border: 1px solid gray;
}

/************end 友情链接/合作伙伴**************/
.fooer {
    height: 340px;
    width: 100%;
    background-color: #fe5727;
    position: relative;
}

.footer-bd {
    height: 340px;
    width: 1350px;
    margin: 0 auto;
}

/*.fooer > ul {*/
/*margin-top: 30px;*/
/*margin-left: 60px;*/
/*}*/
.footer-bd > ul {
    width: 1140px;
    height: 190px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer-bd > ul > li {
    height: 190px;
    width: 190px;
    float: left;
    margin-left: 10px;
    border-right: 1px solid white;
    color: white;

}

.footer-bd > ul > li > p {
    width: 190px;
    height: 34px;
    text-align: center;
}

.footer-bd > ul > li > img {
    margin-left: 26px;
}

.footer-bd > ul > li > h4 {
    width: 190px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.footer-bd > ul > li > ul > li > a {
    display: block;
    width: 190px;
    height: 30px;
    text-align: center;
    color: white;
}

.footer-bd > ul > li > ul > li > a:hover {
    color: red;
}

.footer-bd > p {
    width: 1350px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
}

/*<!--start 右边回到顶部底部部分-->*/
.right-nav {
    width: 258px;
    height: 216px;
    position: fixed;
    right: 12px;
    bottom: 160px;
    z-index: 100;
}

.right-nav > ul {

    float: right;
    width: 60px;
}

.right-nav > ul > li {
    background-color: #ff8200;
    height: 54px;
    font-size: 17px;
    color: white;
    text-align: center;
}

#backtop {
    visibility: hidden;
    line-height: 65px;
    background-repeat: no-repeat;
    background-image: url("../img/backtop.png");
    background-position: 11px 5px;
}

#backfooter {
    line-height: 54px;
    background-repeat: no-repeat;
    background-image: url("../img/backbottom.png");
    background-position: 12px 36px;
}

.online-sv {
    display: none;
    height: 54px;
    width: 198px;
    position: absolute;
    top: 54px;
    background-color: #fe5727;
}

.sv a {
    display: block;
    height: 54px;
    width: 198px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 16px;
}

.phone-sv {
    display: none;
    height: 54px;
    width: 198px;
    position: absolute;
    top: 108px;

    background-color: #fe5727;
}

#online-sv:hover {
    background-color: #fe5727;
}

#phone-sv:hover {
    background-color: #fe5727;
}

/*<!--end 右边回到顶部底部部分-->*/

/*<!--start 左边部分浮动的入口-->*/
.left-rk {
    width: 258px;
    height: 353px;
    position: fixed;
    left: 10px;
    bottom: 160px;
    z-index: 10;
}

.rk-btn-close {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../img/close.png");
}

.left-rk > a {
    display: block;
    height: 357px;
    width: 240px;
}

/*<!--end 左边部分浮动的入口-->*/
/*<!--start 挂掉部分-->*/
.guadiao {
    display: none;
    height: 227px;
    width: 135px;
    position: fixed;
    z-index: 10;
    top: 0px;
    right: 8px;
}

.guadiao img {
    display: block;
    height: 227px;
    width: 135px;
    position: fixed;
    z-index: 10;
    top: 0px;
    right: 8px;
}

/*<!--end 挂掉部分-->*/