/************start 导航栏**************/
.navbar {
    height: 80px;
    width: 100%;
    background-color: #f24f24;
}

.navbd {
    height: 100%;
    width: 1350px;
    margin: 0 auto;
    /*position: relative;*/
}

.logo {
    display: inline-block;
    margin-top: 6px;
}

/*菜单栏*/
.menu {
    /*position: absolute;*/
    /*right: 0px;*/
    float: right;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    width: 100px;
    height: 80px;
}

.menu li a:hover {
    border-bottom: 2px solid yellow;
    border-width: 2px;
}

/************end 导航栏**************/
/*******start 顶部下来那块图片区域**************/
.topbar {
    width: 100%;
    height: 373px;
    border-bottom: 2px solid #a40000;
}

.topbar > img {
    height: 373px;
    width: 100%;
}

/*******start 顶部下来那块图片区域**************/
/*******start 入市流程**************/
.in-lc-container {
    width: 100%;
    height: 480px;
    background-color: #f3f3f3;
}

.in-lc-bd {
    width: 1350px;
    height: 100%;
    margin: 0 auto;
}

.in-lc-bd > h2 {
    height: 128px;
    text-align: center;
    font-size: 30px;
    line-height: 128px;
    color: black;
}

.in-lc-bd > img {
    /*display: block;*/
    margin-top: 60px;
    margin-left: 150px;
    /*width: 1050px;*/
    /*height: 126px;*/
}

/*******end 入市流程**************/
/*******start 提货流程**************/
.th-lc {
    height: 250px;
    background: white;
}

.th-lc > div > div {
    margin-top: 60px;
}

.th-lc > div > img {
    margin-left: 0px;
}

.register-lc {
    margin: 0 auto;
    height: 38px;
    background-repeat: no-repeat;
    background-image: url("../img/title_bg.png");
    background-position: center;
}

.register-lc > p {
    font-size: 22px;
    margin: 0 auto;
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

/*******end 提货流程**************/

/*******start 常见文件**************/
.problem > div {
    display: inline-block;
    width: 674px;
    height: 278px;
}

.problem > div > h3 {
    width: 604px;
    height: 46px;
    font-size: 20px;
    line-height: 46px;
    border-bottom: 1px solid black;
}

.problem > div > ul {
    margin-top: 34px;
}

.problem > div > ul > li a {
    position: relative;
    display: block;
    height: 42px;
    width: 604px;
    font-size: 16px;
    line-height: 42px;
    border-bottom: 1px dashed black;
    color: black;
}

.problem > div > ul > li a:hover {
    color: #fe5727;
}

.problem > div > ul > li > a > span {
    position: absolute;
    right: 8px;
}

.problem > div > div {
    text-align: center;
    line-height: 34px;
    margin: 0 auto;
    margin-top: 41px;
    clear: both;
    width: 124px;
    height: 34px;
    /*border: 1px solid gray;*/
    border-radius: 10px;
    background-color: #c2c2c2;
    color: white;
}

.problem > div > div:hover {
    background-color: #fe5727;
}

.problem-left {
    border-right: 1px dashed black;
}

.problem-right {
    float: right;
}

.problem-right > h3 {
    margin-left: 70px;
}

.problem-right > ul {
    margin-left: 70px;
}

/************start 底部橘黄色那块**************/
.fooer {
    clear: both;
    height: 340px;
    width: 100%;
    background-color: #fe5727;
    position: relative;
}

.footer-bd {
    height: 340px;
    width: 1350px;
    margin: 0 auto;
}

/*.fooer > ul {*/
/*margin-top: 30px;*/
/*margin-left: 60px;*/
/*}*/
.footer-bd > ul {
    width: 1140px;
    height: 190px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer-bd > ul > li {
    height: 190px;
    width: 190px;
    float: left;
    margin-left: 10px;
    border-right: 1px solid white;
    color: white;

}

.footer-bd > ul > li > p {
    width: 190px;
    height: 34px;
    text-align: center;
}

.footer-bd > ul > li > img {
    margin-left: 26px;
}

.footer-bd > ul > li > h4 {
    width: 190px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.footer-bd > ul > li > ul > li > a {
    display: block;
    width: 190px;
    height: 30px;
    text-align: center;
    color: white;
}

.footer-bd > ul > li > ul > li > a:hover {
    color: red;
}

.footer-bd > p {
    width: 1350px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
}

/************end 底部橘黄色那块**************/
/*<!--start 右边回到顶部底部部分-->*/
.right-nav {
    width: 258px;
    height: 216px;
    position: fixed;
    right: 12px;
    bottom: 160px;
    z-index: 100;
}

.right-nav > ul {

    float: right;
    width: 60px;
}

.right-nav > ul > li {
    background-color: #ff8200;
    height: 54px;
    font-size: 17px;
    color: white;
    text-align: center;
}

#backtop {
    visibility: hidden;
    line-height: 65px;
    background-repeat: no-repeat;
    background-image: url("../img/backtop.png");
    background-position: 11px 5px;
}

#backfooter {
    line-height: 54px;
    background-repeat: no-repeat;
    background-image: url("../img/backbottom.png");
    background-position: 12px 36px;
}

.online-sv {
    display: none;
    height: 54px;
    width: 198px;
    position: absolute;
    top: 54px;
    background-color: #fe5727;
}

.sv a {
    display: block;
    height: 54px;
    width: 198px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 16px;
}

.phone-sv {
    display: none;
    height: 54px;
    width: 198px;
    position: absolute;
    top: 108px;

    background-color: #fe5727;
}

#online-sv:hover {
    background-color: #fe5727;
}

#phone-sv:hover {
    background-color: #fe5727;
}

/*<!--end 右边回到顶部底部部分-->*/

/*<!--start 左边部分浮动的入口-->*/
.left-rk {
    display: none;
    width: 258px;
    height: 353px;
    position: fixed;
    left: 10px;
    bottom: 160px;
    z-index: 10;
}

.rk-btn-close {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../img/close.png");
}

.left-rk > a {
    display: block;
    height: 357px;
    width: 240px;
}

/*<!--end 左边部分浮动的入口-->*/
/*<!--start 挂掉部分-->*/
.guadiao {
    display: block;
    height: 227px;
    width: 135px;
    position: fixed;
    z-index: 10;
    top: 0px;
    right: 8px;
}

.guadiao img {
    display: block;
    height: 227px;
    width: 135px;
    position: fixed;
    z-index: 10;
    top: 0px;
    right: 8px;
}

/*<!--end 挂掉部分-->*/